{% extends "base_professor_confirm_delete.html" %}

{% load staticfiles %}

{% block title_delete %}
Excluir exercício
{% endblock %}

{% block body_delete %}
    <div class="alert alert-danger">
        {% csrf_token %}
        Você deseja realmente excluir o exercicio "{{ exercicio.enunciado }}"?
    </div>
{% endblock %}

{% block footer_delete %}
    <a href={% url "programacao:disciplina_atividade_edit" exercicio.atividade_id %}><button type="button" class="btn btn-primary">Cancelar</button></a>
    <button type="submit" class="btn btn-danger">Excluir</button>
{% endblock %}