{% extends "base_professor_confirm_delete.html" %}

{% load staticfiles %}

{% block title_delete %}
Excluir atividade
{% endblock %}

{% block body_delete %}
    <div class="alert alert-danger">
        {% csrf_token %}
        Você deseja realmente excluir a atividade "{{ atividade.titulo }}"?
    </div>
{% endblock %}

{% block footer_delete %}
    <a href={% url "programacao:professor_disciplina_edit" disciplina_id %}><button type="button" class="btn btn-primary">Cancelar</button></a>
    <button type="submit" class="btn btn-danger">Excluir</button>
{% endblock %}