{% extends "base_professor_confirm_delete.html" %}

{% load staticfiles %}

{% block title_delete %}
Excluir curriculum
{% endblock %}

{% block body_delete %}
    <div class="alert alert-danger">
        {% csrf_token %}
        Você deseja realmente excluir o curriculum "{{ curriculum.titulo }}"?
    </div>
{% endblock %}

{% block footer_delete %}
    <a href={% url "programacao:professor_curso_edit" curso.id %}><button type="button" class="btn btn-primary">Cancelar</button></a>
    <button type="submit" class="btn btn-danger">Excluir</button>
{% endblock %}