{% extends "base_professor.html" %}

{% load bootstrap %}

{% block page_title %} Curriculum da disciplina  {% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Curriculum da disciplina {{ disciplina.titulo }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            {% if curriculum %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form|bootstrap }}
                                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                                <a href={% url "programacao:professor_disciplina_edit" disciplina.id %}><button type="button" class="btn btn-sm btn-primary">Voltar</button></a>
                            </form>
                            {% else %}
                            Não existe curriculo associado a esta disciplina!
                            {% endif %}
                         </div>
                         <!-- /.form-group (nested) -->
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
            
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% if curriculum %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Objetivos de aprendizagem
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if objetivos_list %}
                            <div class="dataTable_wrapper">
                                <table class="table table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="col-md-8">Título</th>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in objetivos_list %}
                                        <tr>
                                            <td>{{ obj.titulo }}</td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_objetivo_edit" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-warning" name="acao" value="editar">Editar</button></a></td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_objetivo_delete" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-danger" name="acao" value="excluir">Excluir</button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        {% else %}
                            <div class="alert alert-info">
                                Nenhum objetivo cadastrado!
                            </div> 
                        {% endif %}
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href={% url "programacao:professor_disciplina_objetivo_add" disciplina.id curriculum.id %}><button type="button" class="btn btn-sm btn-success">Adicionar</button></a>
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tópicos
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if topicos_list %}
                            <div class="dataTable_wrapper">
                                <table class="table table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="col-md-8">Título</th>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in topicos_list %}
                                        <tr>
                                            <td>{{ obj.titulo }}</td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_topico_edit" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-warning" name="acao" value="editar">Editar</button></a></td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_topico_delete" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-danger" name="acao" value="excluir">Excluir</button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        {% else %}
                            <div class="alert alert-info">
                                Nenhum tópico cadastrado!
                            </div> 
                        {% endif %}
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href={% url "programacao:professor_disciplina_topico_add" disciplina.id curriculum.id %}><button type="button" class="btn btn-sm btn-success">Adicionar</button></a>
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Atividades
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if atividades_list %}
                            <div class="dataTable_wrapper">
                                <table class="table table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="col-md-8">Título</th>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in atividades_list %}
                                        <tr>
                                            <td>{{ obj.titulo }} </td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_atividade_edit" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-warning" name="acao" value="editar">Editar</button></a></td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_atividade_delete" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-danger" name="acao" value="excluir">Excluir</button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        {% else %}
                            <div class="alert alert-info">
                                Nenhuma atividade cadastrada!
                            </div> 
                        {% endif %}
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href={% url "programacao:professor_disciplina_atividade_add" disciplina.id curriculum.id %}><button type="button" class="btn btn-sm btn-success">Adicionar</button></a>
                <a href={% url "programacao:professor_disciplina_topico_atividade_add" disciplina.id curriculum.id %}><button type="button" class="btn btn-sm btn-primary">Associar atividade a um tópico</button></a>
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Estruturas de suporte
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if suportes_list %}
                            <div class="dataTable_wrapper">
                                <table class="table table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="col-md-8">Título</th>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in suportes_list %}
                                        <tr>
                                            <td>{{ obj.titulo }} ({{ obj.tipo }})</td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_suporte_edit" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-warning" name="acao" value="editar">Editar</button></a></td>
                                            <td class="center"><a href={% url "programacao:professor_disciplina_suporte_delete" disciplina.id obj.id %}><button type="button" class="btn btn-sm btn-danger" name="acao" value="excluir">Excluir</button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        {% else %}
                            <div class="alert alert-info">
                                Nenhuma estrutura de suporte cadastrada!
                            </div> 
                        {% endif %}
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href={% url "programacao:professor_disciplina_suporte_add" disciplina.id curriculum.id %}><button type="button" class="btn btn-sm btn-success">Adicionar</button></a>
                <a href={% url "programacao:professor_disciplina_topico_suporte_add" disciplina.id curriculum.id %}><button type="button" class="btn btn-sm btn-primary">Associar estrutura de suporte a um tópico</button></a>
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endif %}

{% endblock %}