{% extends "base_professor.html" %}

{% load bootstrap %}

{% block page_title %} Atividades {% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Editar atividade
            </div>
            
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- {% if mensagem %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ mensagem }}
                            </div>
                        {% endif %} -->
                        <div class="form-group">
                            <form method="post">
                            {% csrf_token %}
                                {{ form|bootstrap }}
                                {% if atividade %}
                                <label>Exercícios associados</label><br>
                                {% if exercicios_list %}
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Enunciado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for exercicio in exercicios_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ exercicio.enunciado }}</td>
                                        <td class="center">
                                            <a href={% url "programacao:professor_disciplina_atividade_exercicio_testes" disciplina_id exercicio.id %}><button type="button" class="btn btn-sm btn-primary">Executar testes</button></a>
                                            <a href={% url "programacao:professor_disciplina_atividade_exercicio_view" disciplina_id exercicio.id %}><button type="button" class="btn btn-sm btn-success">Visualizar resultados</button></a>
                                            <a href={% url "programacao:professor_disciplina_atividade_exercicio_edit" disciplina_id exercicio.id %}><button type="button" class="btn btn-sm btn-warning">Editar</button></a>
                                            <a href={% url "programacao:professor_disciplina_atividade_exercicio_delete" disciplina_id exercicio.id %}><button type="button" class="btn btn-sm btn-danger">Excluir</button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <div class="alert alert-info alert-dismissable">
                                    Nenhum exercício cadastrado!
                                    </div>
                                {% endif %}
                                <a href={% url "programacao:professor_disciplina_atividade_exercicio" disciplina_id atividade.id %}<input type="button" class="btn btn-sm btn-primary" value='Adicionar exercício prático'></a>
                                {% endif %}
                                <br><br>
                                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                                {% if disciplina_id %}
                                <a href={% url "programacao:professor_disciplina_edit" disciplina_id %}><button type="button" class="btn btn-sm btn-primary">Cancelar</button></a>
                                {% else %}
                                <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}