{% extends "base_professor.html" %}

{% load bootstrap %}

{% block page_title %} Curso {% endblock %}

{% block main %}

{% if curso %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Dados do curso
                </div>
                <form method="post">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ curso_form|bootstrap }}
                            </div>
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-success" name="salvar">Salvar</button>
                    <a href={% url "programacao:professor_meus_cursos" %}><button type="button" class="btn btn-sm btn-primary">Voltar</button></a>
                    <!-- <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'> -->            
                </div>
                <!-- /.panel-footer -->
                </form>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Curriculum associado ao curso
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% if curriculum %}
                                <div class="dataTable_wrapper">
                                    <table class="table table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th class="col-md-4">Título</th>
                                                <th class="col-md-6">Descrição</th>
                                                <th class="col-md-1"></th>
                                                <th class="col-md-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ curriculum.titulo }}</td>
                                                <td>{{ curriculum.descricao }}</td>
                                                <td class="center"><a href={% url "mathema:curriculum_edit" curriculum.id %}><button type="button" class="btn btn-sm btn-warning" name="editar_curso_curriculum" value="editar">Editar</button></a></td>
                                                <td class="center"><a href={% url "programacao:professor_curso_curriculum_delete" curso.id curriculum.id %}><button type="button" class="btn btn-sm btn-danger" name="acao" value="excluir">Excluir</button></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            {% else %}
                                <div class="alert alert-info">
                                    Nenhum curriculum selecionado! <br>
                                </div>
                                <a href={% url "programacao:professor_curso_curriculum_list" curso.id %}><button type="button" class="btn btn-sm btn-primary" name="acao" value="selecionar">Importar curriculum</button></a> 
                            {% endif %}
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Atividades do curso
                </div>
                <div class="panel-body">
                {% if atividade_list %}
                    <div class="dataTable_wrapper">
                        <table class="table table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th class="col-md-1"></th>
                                    <th class="col-md-7">Título</th>
                                    <th class="col-md-2">Deadline</th>
                                    <th class="col-md-2"> </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for atividade in atividade_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ atividade.titulo }}</td>
                                    <td>{{ atividade.deadline }}</td>
                                    <td> - </td>
                                </tr>
                                {% for exercicio in atividade.get_exercicios %}
                                <tr>
                                    <td>{{forloop.parentloop.counter}}.{{forloop.counter}}</td>
                                    <td>{{ atividade.titulo }} - {{ exercicio.titulo }}</td>
                                    <td>{{ atividade.deadline }}</td>
                                    <td> <a href={% url "programacao:professor_curso_atividade_exercicio_avaliacoes" curriculum.id exercicio.id %}><button type="button" class="btn btn-sm btn-primary">Executar avaliações</button></a> </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                {% else %}
                    <div class="alert alert-info">
                         Nenhuma atividade cadastrada para esse curso!
                    </div>
                {% endif %}
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% else %}

<div class="col-lg-12">
    <div class="panel panel-red">
        <div class="panel-heading">
        Erro inesperado!
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
            <div class="alert alert-danger">
                <p>O curso desejado não foi encontrado!</p>
                <p>Retorne a página de listagem de seus cursos e observe se o curso desejado é exibido.</p>
                <p>Caso o erro persista, entre em contato com o administrador do sistema.</p>
            </div>
        </div>
        <!-- .panel-body -->
        <div class="panel-footer">
            <a href={% url "programacao:professor_meus_cursos" %}><button type="button" class="btn btn-sm btn-primary" name="acao" value="voltar">Voltar</button></a>
        </div>
         <!-- .panel-footer -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-6 -->

{% endif %}

{% endblock %}