{% extends "base_professor.html" %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Excluir tópico
            </div>
            <form method="post">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="alert alert-danger">
                    {% csrf_token %}
                    Você deseja realmente excluir o tópico "{{ topico.titulo }}"?
                </div>
            </div>
            <!-- .panel-body -->
            <div class="panel-footer">
                <a href={% url "mathema:curriculum_edit" curriculum.id %}><button type="button" class="btn btn-primary">Cancelar</button></a>
                <button type="submit" class="btn btn-danger">Excluir</button>
            </div>
            </form>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.row -->

{% endblock %}