{% extends "base_professor.html" %}

{% load bootstrap %}

{% block page_title %} Curriculum Mathema {% endblock %}

{% block main %}

<!-- ############## -->
<!-- # Curriculum # -->
<!-- ############## -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Editar curriculum
                    </h4>
                </div>
                <!-- /.panel-heading -->
                <form method="post">
                {% csrf_token %}                
                    <div class="panel-body">
                        {{ curriculum_form|bootstrap }}
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-success" name="salvar_curriculum"><i class="fa fa-check"></i> Salvar</button>
                        <a href="{% url "mathema:curriculum_list" %}"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i> Voltar</button></a>
                    </div>
                    <!-- /.panel-footer -->
                </form>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel-group -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- ############ -->
<!-- # Objetivo # -->
<!-- ############ -->

{% for objetivo in objetivo_list %}

<!-- Modal do objetivo {{objetivo.id}} - inicio-->
<div class="modal fade" id="modalObjetivo{{objetivo.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelObjetivo{{objetivo.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Detalhes do objetivo -->
            <form method="post">
            {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalLabelObjetivo{{objetivo.id}}"> {{ objetivo.titulo }} </h4>
                </div>
                <div class="modal-body">
                    <input class=" form-control" id="id" name="id" type="hidden" value="{{ objetivo.id }}"/>
                    {{ objetivo.get_edit_form|bootstrap }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success" name="salvar_objetivo">Salvar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal do objetivo {{objetivo.id}} - final -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion{{objetivo.id}}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion{{objetivo.id}}" href="#objetivo{{objetivo.id}}">{{objetivo.titulo}}</a>
                    </h4>
                </div>
                <div id="objetivo{{objetivo.id}}" class="panel-collapse collapse">
                    <div class="panel-body">

<!-- ########## -->
<!-- # Tópico # -->
<!-- ########## -->
                    
                    {% if objetivo.get_topicos %}
                    {% for topico in objetivo.get_topicos %}
                    
                        <!-- Modal do topico {{topico.id}} - inicio-->
                        <div class="modal fade" id="modalTopico{{topico.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelTopico{{topico.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Detalhes do topico -->
                                    <form method="post">
                                    {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="modalLabelTopico{{topico.id}}"> {{ topico.titulo }} </h4>
                                        </div>
                                        <div class="modal-body">
                                            <input class=" form-control" id="id" name="id" type="hidden" value="{{ topico.id }}"/>
                                            {{ topico.get_edit_form|bootstrap }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-sm btn-success" name="salvar_topico">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <!-- Modal do topico {{topico.id}} - final -->

                        <div class="col-lg-12">
                            <div class="panel-group" id="accordionTopico">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionTopico" href="#topico{{ topico.id }}">{{ topico.titulo }}</a>
                                        </h4>
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div id="topico{{ topico.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        
<!-- ######################### -->
<!-- # Atividades e suportes # -->
<!-- ######################### -->
                                        
                                        <!-- Atividades e suportes tabs -->
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#atividade" data-toggle="tab">Atividades</a>
                                                    </li>
                                                    <li><a href="#suporte" data-toggle="tab">Estruturas de suporte</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
<!-- ############## -->
<!-- # Atividades # -->
<!-- ############## -->
                                                    <div class="tab-pane fade in active" id="atividade">
                                                        <br>

                                                        {% if topico.get_atividades %}
                                                        {% for atividade in topico.get_atividades %}

                                                        <!-- Modal da atividade {{atividade.id}} - inicio-->
                                                        <div class="modal fade" id="modalAtividade{{atividade.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelAtividade{{atividade.id}}" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <!-- Detalhes da atividade -->
                                                                    <form method="post">
                                                                    {% csrf_token %}
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <h4 class="modal-title" id="modalLabelAtividade{{atividade.id}}"> {{ atividade.titulo }} </h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <input class=" form-control" id="id" name="id" type="hidden" value="{{ atividade.id }}"/>
                                                                            <input class=" form-control" id="id_topico" name="id_topico" type="hidden" value="{{ topico.id }}"/>
                                                                            {{ atividade.get_edit_form|bootstrap }}
                                                                            {{ topico_atividade_form|bootstrap }}
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-sm btn-success" name="salvar_atividade">Salvar</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- /.modal -->
                                                        <!-- Modal da atividade {{atividade.id}} - final -->

                                                        <div class="col-lg-12">
                                                            <div class="panel-group" id="accordionAtividade">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#accordionAtividade" href="#atividade{{ atividade.id }}">{{ atividade.titulo }}</a>
                                                                        </h4>
                                                                    </div>
                                                                    <!-- /.panel-heading -->
                                                                    <div id="atividade{{ atividade.id }}" class="panel-collapse collapse">
                                                                        <div class="panel-body">
<!-- ######################### -->
<!-- # Suportes da atividade # -->
<!-- ######################### -->
                                                                            <br>
                                                                            {% if atividade.get_suportes %}
                                                                            {% for suporte in atividade.get_suportes %}
                                                                            
                                                                            <!-- Modal do suporte {{suporte.id}} - inicio-->
                                                                            <div class="modal fade" id="modalSuporte{{suporte.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelSuporte{{suporte.id}}" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!-- Detalhes do suporte -->
                                                                                        <form method="post" enctype="multipart/form-data">
                                                                                        {% csrf_token %}
                                                                                            <div class="modal-header">
                                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                                <h4 class="modal-title" id="modalLabelSuporte{{suporte.id}}"> {{ suporte.titulo }} </h4>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                <input class=" form-control" id="id" name="id" type="hidden" value="{{ suporte.id }}"/>
                                                                                                {{ suporte.get_edit_form|bootstrap }}
                                                                                                {{ atividade_suporte_form|bootstrap }}
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="submit" class="btn btn-sm btn-success" name="salvar_suporte">Salvar</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                    <!-- /.modal-content -->
                                                                                </div>
                                                                                <!-- /.modal-dialog -->
                                                                            </div>
                                                                            <!-- /.modal -->
                                                                            <!-- Modal do suporte {{suporte.id}} - final -->
                                                                            
                                                                            <div class="col-lg-12">
                                                                                <div class="panel-group" id="accordionSuporte">
                                                                                    <div class="panel panel-primary">
                                                                                        <div class="panel-heading">
                                                                                            <h4 class="panel-title">
                                                                                                <a data-toggle="collapse" data-parent="#accordionSuporte" href="#suporte{{ suporte.id }}">{{ suporte.titulo }} ({{ suporte.tipo }})</a>
                                                                                            </h4>
                                                                                        </div>
                                                                                        <!-- /.panel-heading -->
                                                                                        <div id="suporte{{ suporte.id }}" class="panel-collapse collapse">
                                                                                            <div class="panel-body">
                                                                                                {% if suporte.arquivo %}
                                                                                                    <a href="{{ MEDIA_URL }}{{ suporte.arquivo }}" target="blank"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Download</button></a>
                                                                                                {% endif %}
                                                                                                {% if suporte.link %}
                                                                                                    <a href="{{ suporte.link }}" target="blank"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-play"></i> Play</button></a>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                            <!-- panel-body -->
                                                                                        </div>
                                                                                        <!-- panel-collapse -->
                                                                                        <div class="panel-footer">
                                                                                            <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalSuporte{{suporte.id}}"><i class="fa fa-pencil"></i> Editar</button>
                                                                                            <a href="{% url "mathema:curriculum_suporte_atividade_delete" curriculum.id atividade.id suporte.id %}"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Excluir</button></a>
                                                                                        </div>
                                                                                        <!-- panel-footer -->
                                                                                    </div>
                                                                                    <!-- panel-primary -->
                                                                                </div>
                                                                                <!-- panel-group -->
                                                                            </div>
                                                                            <!-- col-lg-12 -->
                                                                            
                                                                            {% endfor %}
                                                                            {% endif %}
                    
                    
                                                                            <br>
                                                                            <!-- Modal de um novo suporte (em tópico) - inicio-->
                                                                            <div class="modal fade" id="modalSuporteAtividadeNovo" tabindex="-1" role="dialog" aria-labelledby="modalLabelSuporteAtividadeNovo" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!-- Detalhes da suporte -->
                                                                                        <form method="post" enctype="multipart/form-data">
                                                                                        {% csrf_token %}
                                                                                            <div class="modal-header">
                                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                                <h4 class="modal-title" id="modalLabelSuporteAtividadeNovo"> Novo suporte </h4>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                <input class=" form-control" id="id_atividade" name="id_atividade" type="hidden" value="{{ atividade.id }}"/>
                                                                                                {{ suporte_novo_form|bootstrap }}
                                                                                                {{ atividade_suporte_form|bootstrap }}
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="submit" class="btn btn-sm btn-success" name="salvar_novo_suporte_atividade">Salvar</button>
                                                                                                <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                    <!-- /.modal-content -->
                                                                                </div>
                                                                                <!-- /.modal-dialog -->
                                                                            </div>
                                                                            <!-- /.modal -->
                                                                            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalSuporteAtividadeNovo"><i class="fa fa-plus"></i> Novo suporte</button>
                                                                            <!-- Modal de um novo suporte (em tópico) - final -->
                                                                        </div>
                                                                        <!-- panel-body -->
                                                                        
                                                                    </div>
                                                                    <!-- panel-collapse -->
                                                                    <div class="panel-footer">
                                                                        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalAtividade{{atividade.id}}"><i class="fa fa-pencil"></i> Editar</button>
                                                                        <a href="{% url "mathema:curriculum_atividade_delete" curriculum.id topico.id atividade.id %}"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Excluir</button></a>
                                                                    </div>
                                                                    <!-- panel-footer -->
                                                                </div>
                                                                <!-- panel-primary -->
                                                            </div>
                                                            <!-- panel-group -->
                                                        </div>
                                                        <!-- col-lg-12 -->
                                                        
                                                        {% endfor %}
                                                        {% endif %}
                                                        <br>
                                                        <!-- Modal de uma nova atividade - inicio-->
                                                        <div class="modal fade" id="modalAtividadeNova" tabindex="-1" role="dialog" aria-labelledby="modalLabelAtividadeNova" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <!-- Detalhes da atividade -->
                                                                    <form method="post">
                                                                    {% csrf_token %}
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <h4 class="modal-title" id="modalLabelAtividadeNova"> Nova atividade </h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <input class=" form-control" id="id_topico" name="id_topico" type="hidden" value="{{ topico.id }}"/>
                                                                            {{ atividade_nova_form|bootstrap }}
                                                                            {{ topico_atividade_form|bootstrap }}
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-sm btn-success" name="salvar_nova_atividade">Salvar</button>
                                                                            <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- /.modal -->
                                                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalAtividadeNova"><i class="fa fa-plus"></i> Nova atividade</button>
                                                        <!-- Modal de uma nova atividade - final -->

                                                    </div>
<!-- ###################### -->
<!-- # Suportes do tópico # -->
<!-- ###################### -->
                                                    <div class="tab-pane fade" id="suporte">
                                                        <br>
                                                        {% if topico.get_suportes %}
                                                        {% for suporte in topico.get_suportes %}
                                                        
                                                        <!-- Modal do suporte {{suporte.id}} - inicio-->
                                                        <div class="modal fade" id="modalSuporte{{suporte.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelSuporte{{suporte.id}}" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <!-- Detalhes do suporte -->
                                                                    <form method="post" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                            <h4 class="modal-title" id="modalLabelSuporte{{suporte.id}}"> {{ suporte.titulo }} </h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <input class=" form-control" id="id" name="id" type="hidden" value="{{ suporte.id }}"/>
                                                                            {{ suporte.get_edit_form|bootstrap }}
                                                                            {{ topico_suporte_form|bootstrap }}
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-sm btn-success" name="salvar_suporte">Salvar</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- /.modal -->
                                                        <!-- Modal do suporte {{suporte.id}} - final -->
                                                        
                                                        <div class="col-lg-12">
                                                            <div class="panel-group" id="accordionSuporte">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#accordionSuporte" href="#suporte{{ suporte.id }}">{{ suporte.titulo }} ({{ suporte.tipo }})</a>
                                                                        </h4>
                                                                    </div>
                                                                    <!-- /.panel-heading -->
                                                                    <div id="suporte{{ suporte.id }}" class="panel-collapse collapse">
                                                                        <div class="panel-body">
                                                                            {% if suporte.arquivo %}
                                                                                <a href="{{ MEDIA_URL }}{{ suporte.arquivo }}" target="blank"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Download</button></a>
                                                                            {% endif %}
                                                                            {% if suporte.link %}
                                                                                <a href="{{ suporte.link }}" target="blank"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-play"></i> Play</button></a>
                                                                            {% endif %}
                                                                        </div>
                                                                        <!-- panel-body -->
                                                                    </div>
                                                                    <!-- panel-collapse -->
                                                                    <div class="panel-footer">
                                                                        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalSuporte{{suporte.id}}"><i class="fa fa-pencil"></i> Editar</button>
                                                                        <a href="{% url "mathema:curriculum_suporte_delete" curriculum.id topico.id suporte.id %}"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Excluir</button></a>
                                                                    </div>
                                                                    <!-- panel-footer -->
                                                                </div>
                                                                <!-- panel-primary -->
                                                            </div>
                                                            <!-- panel-group -->
                                                        </div>
                                                        <!-- col-lg-12 -->
                                                        
                                                        {% endfor %}
                                                        {% endif %}


                                                        <br>
                                                        <!-- Modal de um novo suporte (em tópico) - inicio-->
                                                        <div class="modal fade" id="modalSuporteNovo" tabindex="-1" role="dialog" aria-labelledby="modalLabelSuporteNovo" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <!-- Detalhes da suporte -->
                                                                    <form method="post" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <h4 class="modal-title" id="modalLabelSuporteNovo"> Novo suporte </h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <input class=" form-control" id="id_topico" name="id_topico" type="hidden" value="{{ topico.id }}"/>
                                                                            {{ suporte_novo_form|bootstrap }}
                                                                            {{ topico_suporte_form|bootstrap }}
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-sm btn-success" name="salvar_novo_suporte">Salvar</button>
                                                                            <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- /.modal -->
                                                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalSuporteNovo"><i class="fa fa-plus"></i> Novo suporte</button>
                                                        <!-- Modal de um novo suporte (em tópico) - final -->

                                                    </div>
                                                </div>                                    
    
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel-collapse -->
                                    <div class="panel-footer">
                                        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalTopico{{topico.id}}"><i class="fa fa-pencil"></i> Editar</button>
                                        <a href="{% url "mathema:curriculum_topico_delete" curriculum.id topico.id %}"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Excluir</button></a>
                                    </div>
                                    <!-- /.panel-footer -->
                                </div>
                                <!-- /.panel-primary -->
                            </div>
                            <!-- /.panel-group -->
                        </div>
                        <!-- /.col-lg-12 -->
    
                        {% endfor %}
                        {% endif %}
    
                        <!-- Modal de um novo topico - inicio-->
                        <div class="modal fade" id="modalTopicoNovo{{objetivo.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelTopicoNovo{{objetivo.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Detalhes do topico -->
                                    <form method="post">
                                    {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="modalLabelTopicoNovo{{objetivo.id}}"> Novo tópico </h4>
                                        </div>
                                        <div class="modal-body">
                                            <input class=" form-control" id="id_objetivo" name="id_objetivo" type="hidden" value="{{ objetivo.id }}"/>
                                            {{ topico_novo_form|bootstrap }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-sm btn-success" name="salvar_novo_topico">Salvar</button>
                                            <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalTopicoNovo{{objetivo.id}}"><i class="fa fa-plus"></i> Novo tópico</button>
                        <!-- Modal de um novo topico - final -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel-footer">
                    <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modalObjetivo{{objetivo.id}}"><i class="fa fa-pencil"></i> Editar</button>
                    <a href="{% url "mathema:curriculum_objetivo_delete" curriculum.id objetivo.id %}"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Excluir</button></a>
                </div>

            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endfor %}

<div class="row">
    <div class="col-lg-12">
        <!-- Modal de um novo objetivo - inicio-->
        <div class="modal fade" id="modalObjetivoNovo" tabindex="-1" role="dialog" aria-labelledby="modalLabelObjetivoNovo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Detalhes do objetivo -->
                    <form method="post">
                    {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalLabelObjetivoNovo"> Novo objetivo de aprendizagem </h4>
                        </div>
                        <div class="modal-body">
                            {{ objetivo_novo_form|bootstrap }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success" name="salvar_novo_objetivo">Salvar</button>
                            <input type='reset' class="btn btn-sm btn-primary" value='Limpar' name='reset'>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <button class="btn btn-success" data-toggle="modal" data-target="#modalObjetivoNovo"><i class="fa fa-plus"></i> Novo Objetivo</button>
        <!-- Modal de um novo objetivo - final -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}