{% extends "base_professor_confirm_delete.html" %}

{% load staticfiles %}

{% block title_delete %}
Excluir objetivo
{% endblock %}

{% block body_delete %}
    <div class="alert alert-danger">
        {% csrf_token %}
        Você deseja realmente excluir o objetivo "{{ objetivo.titulo }}"?
    </div>
{% endblock %}

{% block footer_delete %}
    <a href={% url "mathema:curriculum_edit" curriculum.id %}><button type="button" class="btn btn-primary">Cancelar</button></a>
    <button type="submit" class="btn btn-danger">Excluir</button>
{% endblock %}